* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor:
    url('./cursor.svg') 20 8,
    pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1176px;
  padding: 24px;
  margin: 0 auto;
}

.gallery-item {
  width: 300px;
  height: 200px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
